/*
Copyright 2019, John Hoff <john.hoff@braindonor.net>
Creative Commons Attribution-ShareAlike 4.0 International License
*/

div.mapMarker {
    width: 32px;
    height: 32px;
    left: -16px;
    top: -32px;
    position: relative;
    background-image: url("http://maps.google.com/mapfiles/ms/icons/blue-dot.png")
}
