/*
Empty for now...
*/

div.mapMarker {
    width: 32px;
    height: 32px;
    left: -16px;
    top: -32px;
    position: relative;
    background-image: url("http://maps.google.com/mapfiles/ms/icons/blue-dot.png")
}
